<html>
	<head>
	<title>Dropdownlist</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	</head>

<body>
<div ng-app="mainApp" ng-controller="countrycontrol">
	<form id="form1">
	<h1>Country dropdown</h1>
	<div ng-hide = "IsHidden">
		<select ng-options="s.name for s in Country" ng-model="selectName" ng-hide="showHide2" ng-change="getselectval()">
		<option value="">--Select--</option>
		</select>
		</div>
	  <p> {{selectedvalues}}</p>

        <table border = "0">
          <tr>
            <!--  <td><input type = "checkbox" ng-model = "showHide2">Hide dropdown</td> -->
             <td><button ng-click = "ShowHide()">Click Me!</button></td> 
         
          </tr>
        </table>
     </div>

	</form>
	</div>
</body>
		<script>
		var mainApp = angular.module('mainApp', []);
		mainApp.controller('countrycontrol', function ($scope) {
		$scope.Country = [{
		id: '1',
		name: 'India'
		}, {
		id: '2',
		name: 'Australia'
		}, {
		id: '3',
		name: 'Nepal'
		}, {
		id: '4',
		name: 'Dubai'
		}, {
		id: '5',
		name: 'US'
		}, {
		id: '6',
		name: 'UK '
		}];

		$scope.getselectval = function () {

		$scope.selectedvalues= 'Country Name: ' + $scope.selectName.name ;
		}
		 $scope.IsHidden = false;
		 $scope.ShowHide = function () {
		 	debugger;
             
                $scope.IsHidden = $scope.IsHidden ? false : true;
            }
		});
		</script>
</html>