<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Insert">
    <button ng-click="myFunc3()">Back to user page</button>
    
</form>