<button ng-click="myFunc7()">Back to user page</button>
<div ng-repeat="event in metric.event">

     id: {{event.id}} <br/>
     name: {{event.name}} <br/>
     description: {{event.description}} <br/>
</div>