<div>
 <h1>My todo list</h1>
 <p>you are redirected here from login page</p>
 <p>{{username}}</p>
 <!--  <button ng-click="myFunction()">Show</button> 
   <button ng-click="myFunction()">Delete</button> 
    <button ng-click="myFunction()">Update</button> 
     <button ng-click="myFunction()">Insert</button>  -->
 <button ng-click="myFunction1()">Back to login page</button>
 </div> 
<br>
 <form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Insert">
    <button ng-click="myFunc5()">Go to show page</button> 
     <button ng-click="myFunc2()">Go to insert page</button> 
     <button ng-click="myFunc11()">Go to update page</button> 
     <button ng-click="remove()">Delete marked name</button>

</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>


